# Obtaining Our Data - Lab

## Introduction
In this lab you'll practice your munging and transforming skills in order to load in your data to solve a regression problem.

## Objectives
You will be able to:
* Understand the ETL process and the steps it consists of
* Understand the challenges of working with data from multiple sources

## Task Description

Your boss gives you a general description of some of the datasets at your disposal for analyzing weekly store sales. They're eventually looking for you to build a model to help determine what factors impact sales, and model future sales forecasting for business planning.  
  
Most of the properietary store data sits in the company sql database, accessible by all managers and above. The database is called **Walmart.db** Your boss provides you with the following basic schema:  

<img src='db_schema.jpg' width=500>  

She then tells you that she's put together a second dataset on general economy statistics for the various dates that she would also like you to incorporate in your analysis. That data, she says, is stored in a file **economy_data.csv**.

As a first step in creating your model for providing recommendations and projections, load and synthesize these disperate datasets into a singular unified DataFrame. Then save your results to a file **Merged_Store_Data.csv**.

Make sure you check the various data types and merge appropriately.

In [1]:
# Your code here
import pandas as pd
import sqlite3
!ls

CONTRIBUTING.md  economy_data.csv  LICENSE.md  walmart.db
db_schema.jpg	 index.ipynb	   README.md   Walmart.db

In [2]:
connection = sqlite3.connect('Walmart.db')
cur = connection.cursor()

In [ ]:
cur.execute('''SELECT * 
                FROM sales
                JOIN store_details
                USING(store)''')
df = pd.DataFrame(cur.fetchall())
df.columns = [i[0] for i in cur.description]
df.head()

In [ ]:
df2 = pd.read_csv('economy_data.csv')
df2.head()

In [6]:
len(df), len(df2)

(452192, 8190)

In [7]:
# df.merge(df, df2)

In [8]:
common = [col for col in df.columns if col in df2.columns]
common

['Store', 'Date', 'IsHoliday']

In [9]:
(df['IsHoliday']).head()

0    False
1     True
2    False
3    False
4    False
Name: IsHoliday, dtype: object

In [10]:
for col in common:
    ex1 = df[col][0]
    ex2 = df2[col][0]
    print(f'DF: {type(ex1)} --- DF2: {type(ex2)}')

DF: <class 'numpy.int64'> --- DF2: <class 'numpy.int64'>
DF: <class 'str'> --- DF2: <class 'str'>
DF: <class 'str'> --- DF2: <class 'numpy.bool_'>

In [11]:
df.IsHoliday = df.IsHoliday.astype(bool)

In [12]:
for col in common:
    ex1 = df[col][0]
    ex2 = df2[col][0]
    print(f'DF: {type(ex1)} --- DF2: {type(ex2)}')

DF: <class 'numpy.int64'> --- DF2: <class 'numpy.int64'>
DF: <class 'str'> --- DF2: <class 'str'>
DF: <class 'numpy.bool_'> --- DF2: <class 'numpy.bool_'>

In [14]:
merged_df = pd.merge(df, df2, on=['Store', 'Date', 'IsHoliday'])
merged_df.head()

,Store,Dept,Date,Weekly_Sales,IsHoliday,Type,Size,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment
0,1,1,2010-02-12,46039.49,True,A,151315,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.24217,8.106
1,1,2,2010-02-12,44682.74,True,A,151315,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.24217,8.106
2,1,3,2010-02-12,10887.84,True,A,151315,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.24217,8.106
3,1,4,2010-02-12,35351.21,True,A,151315,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.24217,8.106
4,1,5,2010-02-12,29620.81,True,A,151315,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.24217,8.106

In [ ]:
merged.

## Summary
Nice work! You're working more and more independently through the workflow, and ensuring data integrity!